<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lmx.project.mapper.DocumentMapper">

    <resultMap id="BaseResultMap" type="com.lmx.project.model.entity.Document">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="animalid" column="animalId" jdbcType="BIGINT"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="publishtime" column="publishTime" jdbcType="TIMESTAMP"/>
            <result property="author" column="author" jdbcType="VARCHAR"/>
            <result property="periodical" column="periodical" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,animalId,
        url,publishTime,author,
        periodical,createTime,updateTime,
        isDelete
    </sql>
</mapper>
