<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lmx.project.mapper.ExchangeMapper">

    <resultMap id="BaseResultMap" type="com.lmx.project.model.entity.Exchange">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="requiredscore" column="requiredScore" jdbcType="INTEGER"/>
        <result property="picture" column="picture" jdbcType="VARCHAR"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="isDelete" jdbcType="INTEGER"/>
        <result property="number" column="number" jdbcType="INTEGER"/>
        <result property="statu" column="statu" jdbcType="INTEGER"/>

    </resultMap>

    <sql id="Base_Column_List">
        id
        ,name,requiredScore,
        picture,createTime,updateTime,
        isDelete
    </sql>
    <update id="reduce">
        update exchange set number=number-1 where id=#{id}
    </update>
</mapper>
