<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lmx.project.mapper.LiketableMapper">

    <resultMap id="BaseResultMap" type="com.lmx.project.model.entity.Liketable">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userid" column="userId" jdbcType="BIGINT"/>
            <result property="postid" column="postId" jdbcType="BIGINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,postId,
        createTime,updateTime,isDelete
    </sql>
</mapper>
