<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lmx.project.mapper.PostsMapper">

    <resultMap id="BaseResultMap" type="com.lmx.project.model.entity.Posts">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="userid" column="userId" jdbcType="INTEGER"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="likenum" column="likeNum" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="isDelete" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,title,userId,
        content,likeNum,status,
        createTime,updateTime,isDelete
    </sql>
    <update id="updatePostLikeNum">

        update posts
        set likeNum=likeNum + #{num},
            updateTime=now()
        where id = #{id}
          and isDelete = 0;


    </update>
</mapper>
