<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lmx.project.mapper.TopicbankMapper">

    <resultMap id="BaseResultMap" type="com.lmx.project.model.entity.Topicbank">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="type" column="type" jdbcType="INTEGER"/>
            <result property="answer" column="answer" jdbcType="VARCHAR"/>
            <result property="analysis" column="analysis" jdbcType="VARCHAR"/>
            <result property="belonglevel" column="belongLevel" jdbcType="INTEGER"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,type,answer,
        analysis,belongLevel,createTime,
        updateTime,isDelete
    </sql>
</mapper>
